/* https://coolors.co/04183b-f7f7e9-3e7cb1-e54b4b-61c9a8-eebb55-dab6fc */
@font-face {
  font-family: SpaceGrotesk;
  src: url(../fonts/SpaceGrotesk-Medium.ttf);
}
@font-face {
  font-family: Sora;
  src: url(../fonts/Sora-Light.ttf);
}
@font-face {
  font-family: SF;
  src: url(../fonts/SF-Pro.ttf);
}
@font-face {
  font-family: SF-Semibold;
  src: url(../fonts/SF-Pro-Text-Semibold.otf);
}
body {
  background-color: #F7F7E9;
  font-family: Sora, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: inherit;
}

h1 {
  font-size: 24px;
  font-family: SpaceGrotesk;
  margin-block: 4px;
}

h2 {
  font-size: 20px;
  font-family: SpaceGrotesk;
  margin: 0;
}

main {
  margin-left: 210px;
  height: 100%;
}

main section {
  border: solid;
  overflow: hidden;
}

main section:not(#presentation, #profil) {
  height: 150vh;
}

header nav {
  position: fixed;
  height: 100%;
  width: 200px;
  margin-left: 5px;
  z-index: 100;
  background-color: #F7F7E9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
}
header nav article {
  color: #F7F7E9;
  transition: 1s;
  transition-delay: 0.2s;
  border-radius: 10px;
  margin-block: 5px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}
header nav article .title-container {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header nav article .title-container h2 {
  font-size: 200px;
  width: fit-content;
  transition: 0.5s ease-out;
}
header nav article .title-container div {
  display: flex;
  justify-content: space-between;
}
header nav article:nth-child(1) {
  border: solid;
  color: #04183B;
}
header nav article:nth-child(1) .title-container {
  width: 100%;
}
header nav article:nth-child(2) {
  background-color: #3E7CB1;
}
header nav article:nth-child(3) {
  background-color: #E54B4B;
}
header nav article:nth-child(4) {
  background-color: #61C9A8;
}
header nav article:nth-child(5) {
  background-color: #EEBB55;
}
header nav article:nth-child(6) {
  background-color: #DAB6FC;
}
header nav article.active {
  flex-grow: 1;
}
header nav article:not(.active) > .scrollView, header nav article:is(.active) .title-container > div > img {
  opacity: 0;
}
header nav article .scrollView {
  width: 14px;
  height: calc(100% - 20px);
  position: relative;
  display: flex;
  justify-content: start;
  transition: 0.5s;
  z-index: 10;
  margin-top: 5px;
}
header nav article .scrollView div {
  width: 10px;
  height: 10px;
  background-color: #04183B;
  border-radius: 50px;
  position: relative;
}
header nav article img {
  transition: 1s;
}
header #contact-card {
  position: fixed;
  left: 50%;
  overflow: hidden;
  border-radius: 9px;
  background-color: #F2F0F5;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 20px;
  height: fit-content;
  z-index: 999;
}
header #contact-card #window-header {
  background-color: #E9E9E9;
  height: 25px;
  width: 100%;
  display: flex;
}
header #contact-card #window-header svg {
  width: 18px;
  margin-left: 5px;
  cursor: pointer;
}
header #contact-card #profil-picture {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
header #contact-card #profil-picture img {
  width: 105%;
  margin-left: -5px;
}
header #contact-card #button-container {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
header #contact-card #button-container div {
  flex: 0 0 calc((100% - 40px) / 4);
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 4.5px;
}
header #contact-card .profil-info {
  background-color: #FFFFFF;
  border-radius: 4.5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-block: 5px;
}
header #contact-card h1 {
  margin: 0;
  font-weight: 600;
  font-family: SF;
}
header #contact-card h2, header #contact-card a, header #contact-card p {
  margin: 0 10px;
  font-size: 14px;
  font-family: SF;
  text-decoration: none;
  font-weight: 400;
}
header #contact-card a {
  color: #007AFF;
}
header #contact-card div:last-child {
  margin-bottom: 20px;
}
header #contact-card.active {
  visibility: visible;
}
header #contact-card-button {
  background-color: #04183B;
  width: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  gap: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: width 0.2s ease-in-out, border-radius 0.1s ease-in-out 0.2s;
  z-index: 1000;
}
header #contact-card-button svg, header #contact-card-button span {
  color: #F7F7E9;
  fill: #F7F7E9;
  flex: 0 0 fit-content;
}
header #contact-card-button .icon {
  display: flex;
}
header #contact-card-button span:not(.icon) {
  margin-right: 5px;
  flex: 0 0 fit-content;
  text-wrap: nowrap;
}
header #contact-card-button:hover {
  width: 160px;
  border-radius: 10px;
  transition: width 0.2s ease-in-out 0.1s, border-radius 0.2s ease-in-out;
}

#presentation {
  height: 100vh;
  color: #04183B;
  display: flex;
}
#presentation h1 {
  text-align: center;
  font-size: calc((100vw - 210px) / 4);
  width: 100%;
}

#profil {
  display: grid;
}
#profil > div {
  border-radius: 10px;
  width: 200px;
  padding: 15px;
  background-color: #EEBB55;
  margin: 10px;
  font-family: Sora;
  height: fit-content;
}

#video1 {
  object-fit: contain;
  width: 100%;
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-weight: 800;
  font-size: calc((100vw - 210px) / 4);
  text-align: center;
  user-select: none;
}

.image1 {
  width: 100%;
}

@media screen and (max-width: 767px) {
  header nav {
    width: 100%;
    height: 60px;
    margin: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
  }
  header nav article {
    flex: 0 0 fit-content;
    margin-inline: 5px;
    padding: 0 10px;
    align-items: center;
  }
  header nav article .scrollView {
    display: none;
  }
  header nav article:nth-child(1), header nav h2, header nav img {
    display: none;
  }
  header #contact-card-button {
    bottom: 70px;
  }
  main {
    margin-left: 0;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
  }
}/*# sourceMappingURL=styles.css.map */