@font-face {
    font-family: Space-Grotesk;
    src: url(fonts/SpaceGrotesk-Medium.ttf);
}

@font-face {
    font-family: Sora;
    src: url(fonts/Sora-Medium.ttf);
}

@font-face {
    font-family: JosefinSans;
    src: url(fonts/JosefinSans-Medium.ttf);
}

@keyframes clign {
    50% {
        border-right: solid 0px;
    }
}


/*

#aa {
    animation: clign 1s infinite step-end;
    border-right: solid 3px;
    display: inline;
    padding-right: 1px;

}



box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;

*/

@keyframes FadeRight {
    0% {
        transform: translateX(-50vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes extendRightH2 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        height: 7;
        width: 25%;
    }
}

@keyframes extendRightLine {

    0%,
    6%,
    100% {
        width: 0;
    }

    12.5%,
    85% {
        visibility: visible;
        width: 100%;
    }


}

@keyframes extendDownLine {

    0%,
    18.5% {
        height: 0;
    }

    25%,
    85% {
        visibility: visible;
        height: 100%;
        transform: translate(calc(15vw - 1px), -1px);
    }

    100% {
        height: 0;
        transform: translate(0px, -1px);
    }
}

@keyframes extendLeftLine {

    0%,
    31% {
        width: 0;
        margin-left: 100%;
    }

    37.5%,
    85% {
        visibility: visible;
        margin-left: 0;
        width: 100%;
        transform: translateY(5vw);
    }

    100% {
        width: 0;
        transform: translateY(0);
    }
}

@keyframes extendUpLine {

    0%,
    43.5% {
        height: 0;
        top: 100%;
    }

    50%,
    85% {
        visibility: visible;
        height: 100%;
        top: 0;
    }

    100% {
        height: 0;
    }
}



@keyframes square1 {
    3% {
        visibility: visible;
    }

    2%,
    53% {
        visibility: hidden;
    }

}

@keyframes square2 {
    15.5% {
        visibility: visible;
    }

    15%,
    53% {
        visibility: hidden;
    }
}


@keyframes square3 {
    28% {
        visibility: visible;
    }

    0%,
    27.5%,
    53% {
        visibility: hidden;
    }
}

@keyframes square4 {
    40.5% {
        visibility: visible;
    }

    0%,
    40%,
    53% {
        visibility: hidden;
    }
}

@keyframes drawLine {

    0%,
    6%,
    50%,
    56% {
        visibility: visible;
        left: -5px;
        top: -10px;
        width: 32px;
    }

    3%,
    15.5%,
    28%,
    40.5%,
    53% {
        width: 25px;
    }

    12.5%,
    18.5% {
        left: calc(100% - 10px);
        top: -10px;
        width: 32px;
    }

    25%,
    31% {
        left: calc(100% - 10px);
        top: calc(100% - 10px);
        width: 32px;
    }

    37.5%,
    43.5% {
        left: -5px;
        top: calc(100% - 10px);
        width: 32px;
    }

    65%,
    90% {
        left: calc(90% - 10px);
        top: -50px;
        width: 32px;
    }
}

@keyframes animH2 {

    0%,
    52.5% {
        visibility: hidden;
    }

    53%,
    85% {
        visibility: visible;
        width: 100%;
        height: 5vw;
    }

    100% {
        width: 0;
        height: 0;
    }

}

@keyframes animBorderH2 {

    10%,
    90% {
        width: 0%;
    }

    35%,
    65% {
        width: 25vw;
    }
}

@keyframes animTimecode {

    10%,
    90% {
        transform: translate(-3px, -10px);
    }

    35%,
    65% {
        transform: translate(calc(25vw - 3px), -10px);
    }
}

@keyframes animSequence {

    0%,
    100% {
        width: 0%;
    }

    25%,
    75% {
        width: 25vw;
    }
}


h1,
h2 {
    font-family: Space-Grotesk;
    z-index: 100;
}

h3 {
    font-family: Sora;
}

p {
    font-family: JosefinSans;
}

a {
    color: black;
    text-decoration: none;
    font-family: Sora;
}

.section {
    display: flex;
    z-index: 100;
    width: calc(100vw - 100px);
    height: 100vh;
}

.border {
    border-left: solid 0.5px;
    height: 100vh;
    position: fixed; left: 44vw;
}



/*=============MENU==================*/

#menu {
    font-family: Space-Grotesk;
    font-size: 13px;
    z-index: 999;
    height: 95vh;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
    border: solid 0.5px;
}

#menu:hover {
    width: 200px;
}

.menu-cat {
    font-size: 20px;
}


#menu>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

#menu>div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

#logo-menu-header {
    padding-top: 5px;
    fill: #07689f;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
}

#logo-menu-header>span {
    position: relative;
    top: -13px;
    left: 35px;
}

.menu-icon {
    padding-top: 5px;
    fill: #07689f;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    transition: all 0.2s;
}

.menu-icon:hover {
    background-color: #40A8C5;
    fill: white;
    color: white;
    cursor: pointer;
}

.menu-icon>span,
.selected>span,
.menu-icon>a>span {
    position: relative;
    top: -13px;
}

.menu-icon>svg,
.selected>svg,
.menu-icon>a>svg {
    width: 30px;
    margin: 5px 10px 5px 10px;
}

#logo-menu-header>svg {
    width: 50px;
    margin: 0;
}

.sepa {
    border-top: solid 1px;
}


.selected {
    padding-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #07689f;
    fill: white;
    color: white;
}


#circle-area {
    width: 100%;
    height: 101vh;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
}



#circle-area>div {
    position: absolute;
    width: 0vmin;
    height: 0vmin;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    filter: blur(50px);
    transform: translate3d(0, 0, 0);
    z-index: 1;
}


@media screen and (max-height:550px) {
    #menu {
        color: red;
    }
}


/*=============HOME==================*/


#home-page>div {
    display: flex;
    justify-content: center;
}

#left-home-page {
    align-items: end;

    width: 50%;
}

#left-home-page>img {
    height: 80vh;
    z-index: 100;
}

@media screen and (max-width:100vh) {
    #home-page>div>img {
        height: 50vw;

    }
}

@media screen and (max-width:850px) {
    
}

#home-eric-pic {
    animation: FadeRight 1.3s;
}

.shadow {
    position: absolute;
    opacity: 0.5;
    filter: blur(2px);
    animation: FadeRight 1.5s;
}

#right-home-page {
    align-items: center;
    width: calc(50vw - 100px);

}

#right-home-page>div>h1 {
    font-size: 4vw;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
}

#right-home-page>div {
    animation: extendRight 1.5s;
    transform: translateY(-100px);
    z-index: 100;
    padding: 10px;
    width: 90%;
    height: 20vw;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    border: solid 0.5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    white-space: nowrap;
}


/*==================COMPÉTENCES=================*/

#comp-page {
    display: flex;
    width: calc(100vw - 100px);
    flex-direction: column;
}

#comp-page>div {
    display: flex;
    border: solid;
    flex: 0 0 33%;
    justify-content: center;
    z-index: 100;
}

#comp-page h2 {
    font-size: 3.5vw;
}

#titre-comp-1 {
    animation: clign 1s infinite step-end;
    border-right: solid 3px;
    display: inline;
    padding-right: 1px;
}



#design {
    margin-top: 100px;
    width: 15%;
    height: 5vw;
    position: absolute;
}

#design>svg {
    animation: drawLine 8s ease-in-out infinite;
    position: absolute;
    transform: rotate(-45deg);
    left: -5px;
    top: -10px;
    visibility: hidden;
    z-index: 3;
}



#top-border {
    border-top: solid #07689F;
    transform: translateY(-2px);
    transition: 1s;
    width: 100%;
    animation: extendRightLine 8s ease-in-out infinite;

}

#bottom-border {
    border-top: solid #07689F;
    transform: translateY(5vw);
    width: 100%;
    transition: 1s;
    animation: extendLeftLine 8s ease-in-out infinite;

}

#right-border {
    border-right: solid #07689F;
    position: absolute;
    transform: translate(calc(15vw - 1px), -1px);
    height: 100%;
    transition: 1s;
    animation: extendDownLine 8s ease-in-out infinite;

}

#left-border {
    border-left: solid #07689F;
    position: absolute;
    height: 100%;
    transition: 1s;
    animation: extendUpLine 8s ease-in-out infinite;

}


#h2-cont {
    width: 95%;
    height: 5vw;
    text-align: center;

    overflow: hidden;
    animation: animH2 8s ease-in-out infinite;
}

#h2-cont>h2 {
    margin-top: 0;
}



.square-comp {
    width: 5px;
    height: 5px;
    border: solid #07689F;
    position: absolute;
    background-color: #FFF;
    z-index: 20;

}

#square-1 {
    left: -3.5px;
    top: -5px;
    transition: 1s;
    visibility: hidden;
    animation: square1 8s ease-in-out infinite;

}

#square-2 {
    left: calc(100% - 5px);
    top: -5px;
    transition: 1s;
    visibility: hidden;
    animation: square2 8s ease-in-out infinite;

}

#square-3 {
    left: calc(100% - 5px);
    top: calc(100% - 4px);
    transition: 1s;
    visibility: hidden;
    animation: square3 8s ease-in-out infinite;

}

#square-4 {
    left: -3.5px;
    top: calc(100% - 4px);
    transition: 1s;
    visibility: hidden;
    animation: square4 8s ease-in-out infinite;

}


#sequence {
    background-color: #729acc;
    height: fit-content;
    width: 25vw;
    border: solid black 0.5px;
    border-left: solid white 0.5px;
    margin: 50px;
    animation: animSequence 10s infinite;

}

#timecode {
    width: 10px;
    height: 10px;
    background-color: #2e8ceb;
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    position: absolute;
    transform: translate(-3px, -10px);
    animation: animTimecode 10s infinite linear;
}

#h2-border {
    animation: animBorderH2 10s infinite linear;
    border-right: solid #2e8ceb 2px;
    overflow: hidden;
    width: 0%;
}

#h2-border>h2 {
    margin: 0 1.5vw;
    white-space: nowrap;
}

/*==================PORTFOLIO=================*/


#portfolio-page {
    justify-content: space-between;
}

#portfolio-page h2 {
    font-size: 32.5px;
    display: inline;
}

#left-portfolio-page {
    flex: 0 0 calc(100% - 20px);
    transition: 0.5s;
    z-index: 10;
    padding: 10px;
    margin-right: 4vw;
}

#right-portfolio-page {
    flex: 0 0 calc(50% - 20px);
    padding: 10px;
    display: flex;
    z-index: 10;
    justify-content: center;
}

#project-info {
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    border: solid 0.5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 40%;
    transition: 0.5s;
    height: 85vh;
    z-index: 10;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#project-info > h2, #project-info > h3, #project-info > p, #project-info > a {
    margin: 3vh;
}

#project-info > h2 {

    margin-top: 6vh;
    display: block;
}

#carrousel {
    display: flex;
    align-items: center;
    width: 30vw;
    margin: 20px auto;
}

#carrousel>div {
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    display: flex;
}

#carrousel > svg {
    z-index: 100;
}

#img-container {
    display: flex;
    position: relative;
    transition: 0.5s;
    left: 0vw;
}

#img-container>img {
    width: 25vw;
    object-fit: contain;
}

#close-project {
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    border: solid 1px;
    transform: translate(18vw, -7vmin);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

.cat-portfolio {
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    border: solid 0.5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    transition: 0.5s;
    height: 65px;
    z-index: 10;
    margin: 3vw 0;
    overflow: hidden;
}

.cat-portfolio>div>svg {
    transition: 0.5s;
}


.portfolio-grid {
    margin-top: 1.5vw;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    border-top: solid 0.5px;
    margin-inline: 2vw;
}

.portfolio-grid>div {
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    border: solid 0.5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: calc((100% - 22vw) / 5);
    height: calc((78vw - 100px) / 4);
    margin: 2vw;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.portfolio-grid>div>div {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.portfolio-grid>div>div>img {
    width: 100%;
    object-fit: contain;
}


.portfolio-grid>div>h3 {
    font-size: 2vw;
    margin: 0;
}

.portfolio-grid>div>p {
    font-size: 1.5vw;
    margin: 0;
    white-space: nowrap;
}
