body 
    background-color: $background-color
    font-family: Sora, sans-serif
    margin: 0
    padding: 0

h1, h2, p
    color: inherit

h1
    font-size: 24px
    font-family: SpaceGrotesk
    margin-block: 4px

h2
    font-size: 20px
    font-family: SpaceGrotesk
    margin: 0

main
    margin-left: 210px
    height: 100%

main section
    border: solid
    overflow: hidden

main section:not(#presentation,#profil) 
    height: 150vh
