body
    background-color: $background-color
    font-family: Sora, sans-serif
    margin: 0
    padding: 0

h1, h2, p
    color: inherit

h1
    font-size: 24px
    font-family: SpaceGrotesk
    margin-block: 4px

h2
    font-size: 20px
    font-family: SpaceGrotesk
    margin: 0

p
    margin: 0

main
    margin-left: 215px
    height: 100%
    width: calc( 100% - 220px)

main section
    // border: solid
    // overflow: hidden

main section:not(#presentation,#profil, #competences)
    height: 100vh

li
    list-style-type: none


.window-header
    border-bottom: $bold-border
    height: 25px
    width: 100%
    display: flex

    svg
        width: 18px
        margin-left: 5px
        cursor: pointer

    &:active
        cursor: grabbing