$foreground-color: #04183B
$background-color: #F7F7E9
$primary-color: #3E7CB1
$secondary-color: #E54B4B
$tertiary-color: #61C9A8
$quaternary-color: #EEBB55
$pentenary-color: #DAB6FC

/* https://coolors.co/04183b-f7f7e9-3e7cb1-e54b4b-61c9a8-eebb55-dab6fc */


@font-face 
  font-family: SpaceGrotesk
  src: url(../fonts/SpaceGrotesk-Medium.ttf)


@font-face 
  font-family: Sora
  src: url(../fonts/Sora-Light.ttf)


@font-face 
  font-family: SF
  src: url(../fonts/SF-Pro.ttf)


@font-face 
  font-family: SF-Semibold
  src: url(../fonts/SF-Pro-Text-Semibold.otf)
