@import "_variables"
@import "_base"

header
    nav
        position: fixed
        height: 100%
        width: 200px
        margin-left: 5px
        z-index: 999
        background-color: $background-color

        display: flex
        flex-direction: column
        justify-content: space-between
        scroll-behavior: smooth

        article
            transition: flex-grow 1s 0.2s, transform 0.5s, box-shadow 0.5s
            background-color: #FFFFFF
            // border-style: double solid solid double
            // border-width: 5px
            border: 5px solid
            margin-block: 5px
            height: 40px
            overflow: hidden
            display: flex
            justify-content: space-between
            padding: 5px
            cursor: pointer
            box-shadow: $light-shadow

            .title-container
                width: calc(100% - 30px)
                display: flex
                flex-direction: column
                justify-content: space-between

                h2
                    font-size: 200px
                    width: fit-content
                    transition: 0.5s ease-out
                    color: $background-color
                    text-shadow: 10px 10px black,-3px -3px black, 3px 3px black,3px -3px black, -3px 3px black

                div
                    display: flex
                    justify-content: space-between

            &:nth-child(1)
                color: $foreground-color

                .title-container
                    width: 100%

            &:nth-child(2)
                color: $primary-color
                h2
                    text-shadow: 10px 10px $primary-color,-3px -3px $primary-color, 3px 3px $primary-color,3px -3px $primary-color, -3px 3px $primary-color


            &:nth-child(3)
                color: $secondary-color
                h2
                    text-shadow: 10px 10px $secondary-color,-3px -3px $secondary-color, 3px 3px $secondary-color,3px -3px $secondary-color, -3px 3px $secondary-color


            &:nth-child(4)
                color: $tertiary-color
                h2
                    text-shadow: 10px 10px $tertiary-color,-3px -3px $tertiary-color, 3px 3px $tertiary-color,3px -3px $tertiary-color, -3px 3px $tertiary-color

            &:nth-child(5)
                color: $quaternary-color
                h2
                    text-shadow: 10px 10px $quaternary-color,-3px -3px $quaternary-color, 3px 3px $quaternary-color,3px -3px $quaternary-color, -3px 3px $quaternary-color

            &:nth-child(6)
                color: $pentenary-color
                h2
                    text-shadow: 10px 10px $pentenary-color,-3px -3px $pentenary-color, 3px 3px $pentenary-color,3px -3px $pentenary-color, -3px 3px $pentenary-color

            &.active
                flex-grow: 1
                // height: 100%

            &:not(.active) > .scrollView, &:is(.active) .title-container > div > img
                opacity: 0

            &:hover
                box-shadow: $hover-shadow
                transform: translate(5px, 5px)
                transition: 0.5s 

            .scrollView
                width: 14px
                height: calc(100% - 20px)
                position: relative
                display: flex
                justify-content: start
                transition: 0.5s
                z-index: 10
                margin-top: 5px

                div
                    width: 10px
                    height: 10px
                    background-color: $foreground-color
                    border-radius: 50px
                    position: relative
            img
                transition: 1s

    #contact-card-button
        display: none
        background-color: $foreground-color
        width: 40px
        overflow: hidden
        // display: flex
        align-items: center
        padding: 5px
        border-radius: 50%
        gap: 5px
        position: fixed
        bottom: 20px
        right: 20px
        cursor: pointer
        transition: width 0.2s ease-in-out, border-radius 0.1s ease-in-out 0.2s
        z-index: 1000

        svg, span
            color: $background-color
            fill: $background-color
            flex: 0 0 fit-content
        
        .icon
            display: flex

        span:not(.icon)
            margin-right: 5px
            flex: 0 0 fit-content
            text-wrap: nowrap

        &:hover
            width: 160px
            border-radius: 10px
            transition: width 0.2s ease-in-out 0.1s, border-radius 0.2s ease-in-out

#presentation
    color: $foreground-color
    display: flex
    justify-content: center
    align-items: center
    height: 110vh

    #container
        flex: 0 0 100%
        height: 80pt
        filter: url(#threshold) blur(0.6px)

    #text1,
    #text2
        position: absolute
        width: 100%
        display: inline-block
        font-weight: 800
        font-size: 10vw

        text-align: center

        user-select: none

#profil
    display: flex
    overflow: visible
    flex-wrap: wrap
    justify-content: space-evenly
    min-height: 100vh
    gap: 100px
    padding-bottom: 30vh

    .profil-container
        width: 95vw
        max-width: 600px
        display: flex
        flex-direction: column
        gap: 200px

        .profil-text
            display: flex
            flex-direction: column
            gap: 150px

            article
                border: $bold-border
                padding: 40px
                background-color: #FFFFFF
                font-family: Sora
                height: fit-content
                box-shadow: $bold-shadow
                font-size: min(4vw, 26px)
                opacity: 0
                
                &.animate
                    animation: LandingFade 1s ease-out
                    opacity: 1

                &:nth-child(1)
                    margin-right: 40%

                &:nth-child(2)
                    margin-left: 25%
                
                &:nth-child(3)
                    margin-right: 15%
            


        ul
            padding: 0 10px
            display: flex
            flex-direction: column
            align-items: center
            gap: 200px
            height: 90%
            
            li
                position: relative
                font-family: SpaceGrotesk
                width: fit-content
                text-align: center
                font-size: 26px
                border: $bold-border
                box-shadow: $bold-shadow
                padding: 10px
                transition: 0.5s    

                &::before
                    content: ""
                    position: absolute
                    top: 0
                    right: 0
                    bottom: 0
                    left: 0
                    background-color: red
                    clip-path: circle(0%)
                    z-index: -1
                    transition: 0.5s
                
                &:nth-child(1)::before
                    background-color: $foreground-color

                &:nth-child(2)::before
                    background-color: $primary-color

                &:nth-child(3)::before
                    background-color: $secondary-color

                &:nth-child(4)::before
                    background-color: $tertiary-color

                &:nth-child(5)::before
                    background-color: $quaternary-color

                &:nth-child(6)::before
                    background-color: $pentenary-color
                    

                &.animate
                    animation: PopUp 0.5s ease-out 0.15 s
                    opacity: 1
                    color: $background-color

                    &::before
                        clip-path: circle(100%)

    #contact-card
        position: sticky
        background-color: $background-color
        top: calc( (100% - 620px) / 2 )
        overflow: hidden
        border: $bold-border
        box-shadow: $bold-shadow
        display: flex
        flex-direction: column
        align-items: center
        width: 300px
        gap: 20px
        height: fit-content
        z-index: 998

        #profil-picture
            overflow: hidden
            width: 100px
            height: 100px
            border: $bold-border

            img
                width: 105%
                margin-left: -5px

        #button-container
            width: calc( 90% + 10px )
            height: 40px
            display: flex
            justify-content: space-between

            div
                flex: 0 0 calc((100% - 80px) / 4)
                height: 100%
                border: $bold-border


        .contact-info
            width: 90%
            display: flex
            flex-direction: column
            padding-block: 5px
            border: $bold-border


        h1
            margin: 0
            font-weight: 600
            font-family: SpaceGrotesk

        h2
            font-family: SpaceGrotesk

        a,p
            font-family: Sora


        h2,a,p
            margin: 0 10px
            font-size: 14px
            text-decoration: none
            font-weight: 400

        a
            color: #007AFF

        div:last-child
            margin-bottom: 20px

        &.active
            position: fixed
            left: calc( (100% - 85px) / 2 )

@media screen and (max-height:620px)
    #profil
        flex-direction: column
        align-items: center


#competences
    display: flex
    flex-direction: column
    align-items: center
    gap: 50px

    h2
        font-size: 60px
        text-align: center

    #terminal
        width: 80%
        height: 90vh
        color: $background-color
        background-color: $foreground-color
        overflow: scroll

        .window-header
            border-bottom: 5px solid $background-color

        ul
            padding: 0px
            margin-top: 5px 

            li
                font-size: 24px
                align-items: center
                line-height: 1
                // width: fit-content

                &:not(.folder, .cmd)
                    display: flex

                    &:hover
                        background-color: $background-color
                        color: $foreground-color
                        cursor: pointer

                &.cmd
                    margin-bottom: 5px

                &.cmd::before
                    content: "›"
                    margin-inline: 5px
                    font-size: 32px

                &.multi-branch::before
                    content: "├"
                    font-family: monospace
                    font-size: 40px
                    margin-inline: 24px 5px
                    font-weight: 100

                &.multi-branch
                    &.last-branch::before
                        content: "└"

                    .multi-branch::before
                        content: "│ ├"

                    .multi-branch:last-child::before
                        content: "│ └"
                    
                    .last-branch::before
                        content: "├"
                        margin-inline: 60px 5px
                    
                    .last-branch:last-child::before
                        content: "└"
                        margin-inline: 60px 5px



                .icon
                    margin-left: 5px
                    width: 32px

        // h3
        //     font-size: 60px

        // .dev-skill-title
        //     animation: Blink 1s infinite step-end
        //     border-right: solid 3px

#portfolio
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 20px

    .header
        border: $bold-border
        height: fit-content

        ul
            display: flex
            flex-wrap: wrap

            li
                display: flex
                align-items: center
                font-family: SpaceGrotesk
                font-size: min(35px, 4vw)
                margin: 0 30px

                input
                    width: 30px
                    height: 30px
                    margin: 0 10px 0 0
                    z-index: 2
                    opacity: 0


                .checkmark
                    border: $bold-border
                    width: 20px
                    height: 20px
                    display: block
                    position: absolute
                    z-index: 1
                    box-shadow: $light-shadow
                    transition: 0.5s

                    &:after
                        content: ""
                        position: absolute
                        display: none
                        left: 4px
                        top: 0px
                        width: 8px
                        height: 13px
                        border: solid
                        border-width: 0 4px 4px 0
                        -webkit-transform: rotate(45deg)
                        -ms-transform: rotate(45deg)
                        transform: rotate(45deg)

                input:checked ~ .checkmark
                    box-shadow: $hover-shadow
                    transform: translate(5px, 5px)
                    
                input:checked ~ .checkmark:after
                    display: block
                
                input:hover ~ .checkmark
                    box-shadow: $hover-shadow
                    transform: translate(5px, 5px)
    
    .main
        width: 100%
        height: 100%
        display: flex
        gap: 20px

        .project-list
            border: $bold-border
            display: grid
            grid-template-columns: repeat(auto-fill, max(150px, calc( (100vw - 220px) / 5 )))
            grid-auto-rows: max(150px, calc( (100vw - 220px) / 5 ))
            gap: 10px
            padding: 10px
            transition: 0.5s
            flex: 0 0 calc( 100% - 30px )

            article
                border: $bold-border
                background-color: blue

            &.active
                flex: 0 0 0px
                grid-template-columns: 150px
                grid-template-rows: repeat(auto-fill, 150px)
                

        .project-viewer
            border: $bold-border
            // flex: 0 0 100%
            width: 100%
            display: none
            background-color: red
            transition: 0.5s

            &.active
                display: block

@media screen and (max-width: 767px)
    header
        nav
            width: 100%
            height: 80px
            margin: 0
            bottom: 0

            flex-direction: row
            justify-content: space-between
            gap: 0px
            overflow-x: scroll
            overflow-y: hidden
            align-items: center

            article
                flex: 0 0 fit-content
                margin-inline: 5px
                padding: 0 10px
                // height: 100%
                align-items: center

                .scrollView
                    display: none

            article:nth-child(1), h2, img
                display: none

        #contact-card-button
            bottom: 70px

    main
        margin-left: 0
        width: 100%

